$starting_fade_color: #ac2b83;
$ending_fade_color: #5a1644;
$button-color: #2b83ac;
$button-text: #83ac2b;
$link_color: #789bde;
$link_hover_color: #e2eaf8;
$link_active_color: #1b386f;
$bg-opacity: 0.75;
$bases-2: #ac542b;
$bases-3: #2bac54;
$bases-4: #2b83ac;
$texto-actividad: #1b386f;
$bg-activo: #2b83ac;
$borde-horario: #fefefe;
$bg-horario: #2b83ff;
