$starting_fade_color: #AC2B83;
$ending_fade_color: #5A1644;
$button-color: #2b83ac;
$button-text: #83ac2b;
$link_color: #789BDE;
$link_hover_color: #E2EAF8;
$link_active_color: #1B386F;
$bg-opacity: 0.75;  
$bases-2: #ac542b;
$bases-3: #2bac54;
$bases-4: #2b83ac;