@import 'variables';

body,
#mainNav {
    background: linear-gradient(to left, $ending_fade_color, $starting_fade_color);
}

.viewpage_img {
    float: left;
    width: 80vh;
}

header::before {
    content: "";
    background-image: url("../img/bg-pattern.png") !important;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: $bg-opacity;
    pointer-events: none;
}

.masthead {
    display: block;
    overflow: auto;
    height: auto !important;
}

.box {
    border: 1px dashed #2f6fab;
    border-radius: 15px;
    padding: 1em;
    background-color: #dedede;
    line-height: 1em;
}

.box-title {
    color: #800080;
}

a {
    display: block;
    font-weight: bold;
    color: $link_color;
    overflow: hidden;
    max-width: 70vw;
}

a:active {
    color: $link_active_color;
}

a:hover,
a:focus {
    color: $link_hover_color;
}

.grid-image {
    max-width: 25vw;
}

h2 {
    font-size: calc(1.8rem + 0.9vw) !important;
    font-weight: bold;
}

.bases-button {
    background-color: $button-color;
    border-radius: .75rem;
    border: 1px dashed #e2eaf8;
}

.bases-button a {
    color: $button-text;
}

.bases-1, .bases-2, .bases-3, .bases-4 {
    padding: 0 2rem !important;

}

.bases-1 {
    background-color: $starting_fade_color;
}

.bases-2 {
    background-color: $bases-2;
}

.bases-3 {
    background-color: $bases-3;
}

.bases-4 {
    background-color: $bases-4;
}

@media screen and (max-width: 990px){
    .center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}